In [ ]:
import requests
import xmltodict
import json
from pprint import pprint
from tqdm.notebook import tqdm
import pandas as pd

In [ ]:
url = 'http://apis.data.go.kr/1192000/select0090List/getselect0090List'

In [ ]:
api_key = 'PBJct2NnY43P0PBlqdr3cVao2RJ5bJ0BQOgV9PIOdQFjCCG259NS9FMREH8bJILFOMoxa35pQsOSmLw7Qawprg=='

In [ ]:
query = {
    'serviceKey': api_key, 
    'numOfRows': 100, 
    'pageNo': 1, 
    'type': 'json', 
    'baseDt': '202401'
}

In [ ]:
res = requests.get(url = url, params = query)

In [ ]:
res.status_code

In [ ]:
res.headers['content-type']

In [ ]:
res.text
type(res.text)

# xml -> dict
dat = xmltodict.parse(res.text)
type(dat)

In [ ]:
# json -> dict
dat = json.loads(res.text)
type(dat)

In [ ]:
pprint(dat)

In [ ]:
totalCount = int(dat['responseJson']['header']['totalCount'])
totalCount

In [ ]:
rows = 100
pages = int(totalCount / rows) + 1
pages

In [ ]:
df = pd.DataFrame(data = dat['responseJson']['body']['item'])
df.shape

In [ ]:
def mprcTotalCount(ymonth, rows = 100):
    url = 'http://apis.data.go.kr/1192000/select0090List/getselect0090List'
    query = {
        'serviceKey': 'PBJct2NnY43P0PBlqdr3cVao2RJ5bJ0BQOgV9PIOdQFjCCG259NS9FMREH8bJILFOMoxa35pQsOSmLw7Qawprg==', 
        'numOfRows': rows, 
        'pageNo': 1, 
        'type': 'json', 
        'baseDt': ymonth
    }
    res = requests.get(url = url, params = query)
    dat = json.loads(res.text)
    totalCount = int(dat['responseJson']['header']['totalCount'])
    pages = int(totalCount / rows) + 1
    return totalCount, pages

In [ ]:
totalCount, pages = mprcTotalCount(ymonth = '202401')
print(totalCount)
print(pages)

In [ ]:
def mprcDataFrame(ymonth, rows = 100, page = 1):
    url = 'http://apis.data.go.kr/1192000/select0090List/getselect0090List'
    query = {
        'serviceKey': 'PBJct2NnY43P0PBlqdr3cVao2RJ5bJ0BQOgV9PIOdQFjCCG259NS9FMREH8bJILFOMoxa35pQsOSmLw7Qawprg==', 
        'numOfRows': rows, 
        'pageNo': page, 
        'type': 'json', 
        'baseDt': ymonth
    }
    res = requests.get(url = url, params = query)
    dat = json.loads(res.text)
    df = pd.DataFrame(data = dat['responseJson']['body']['item'])
    return df

In [ ]:
df = mprcDataFrame(ymonth = '202401')
df.shape

In [ ]:
dfs = pd.DataFrame()
for page in tqdm(range(pages)):
    page += 1
    df = mprcDataFrame(ymonth = '202401', page = page)
    dfs = pd.concat(objs = [dfs, df])

In [ ]:
dfs.shape

In [ ]:
def mprcDataset(ymonth):
    totalCount, pages = mprcTotalCount(ymonth = ymonth)
    dfs = pd.DataFrame()
    for page in tqdm(range(pages)):
        page += 1
        df = mprcDataFrame(ymonth = ymonth, page = page)
        dfs = pd.concat(objs = [dfs, df])
    return dfs

In [ ]:
df = mprcDataset(ymonth = '202401')
df.shape

In [ ]:
ymonths = range(202401, 202413)
dfs = pd.DataFrame()
for ymonth in tqdm(ymonths):
    df = mprcDataset(ymonth = ymonth)
    dfs = pd.concat(objs = [dfs, df])

In [ ]:
dfs.shape

In [ ]:
dfs

In [ ]:
dfs = dfs.reset_index(drop = True)

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
os.chdir(path = 'C:\\Users\\user\\Documents\\project\\data')
os.getcwd()

In [ ]:
%time dfs.to_excel('MPRC_2024.xlsx', index = False)

In [ ]:
%time dfs.to_csv('MPRC_2024.csv', index = False, encoding = 'CP949')

In [ ]:
os.listdir()

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\user\\Documents\\project\\code'

In [3]:
# 상대 경로: '.'(현재 폴더), '..'(부모 폴더)
os.chdir(path = '../data')
os.getcwd()

'C:\\Users\\user\\Documents\\project\\data'

In [4]:
os.listdir()

['MPRC_2024.csv', 'MPRC_2024.xlsx']

In [5]:
os.chdir(path = '../code')
os.listdir()

['.ipynb_checkpoints',
 'Day1.ipynb',
 'Day2.ipynb',
 'Day3.ipynb',
 'Day4.ipynb',
 'first_code.ipynb',
 'myfuncs.py',
 '__pycache__']

In [6]:
os.chdir(path = '../data')
os.getcwd()

'C:\\Users\\user\\Documents\\project\\data'

In [7]:
os.listdir()

['MPRC_2024.csv', 'MPRC_2024.xlsx']

In [8]:
%time df = pd.read_excel('MPRC_2024.xlsx')

CPU times: total: 8.5 s
Wall time: 13.5 s

In [11]:
%time df = pd.read_csv('MPRC_2024.csv', encoding = 'CP949')

CPU times: total: 46.9 ms
Wall time: 150 ms

In [13]:
df.head(n = 3)

,stdYymm,nationCode,mprcExipitmCode,imxprtSeCode,nationNm,ecoblNm,mprcExipitmNm,imxprtSeNm,imxprtWt,imxprtDollarAmount
0,202401,AE,106199000,E,아랍에미리트연합,걸프협력회의,기타 포유동물,수출,17.5,455
1,202401,AE,301998000,E,아랍에미리트연합,걸프협력회의,넙치(활어),수출,798.2,19735
2,202401,AE,302240000,E,아랍에미리트연합,걸프협력회의,터벗(신선 또는 냉장)(프세타 맥시마),수출,304.0,11425

In [14]:
df.tail()

,stdYymm,nationCode,mprcExipitmCode,imxprtSeCode,nationNm,ecoblNm,mprcExipitmNm,imxprtSeNm,imxprtWt,imxprtDollarAmount
32375,202412,VU,304879000,I,바누아트,NaN,다랑어 기타(냉동한 피레트),수입,819.400,7232
32376,202412,VU,307432090,I,바누아트,NaN,기타,수입,6499.350,29897
32377,202412,ZA,106199000,I,남아프리카,NaN,기타 포유동물,수입,6.000,1790
32378,202412,ZA,303821000,I,남아프리카,NaN,가오리(냉동),수입,975.000,3022
32379,202412,ZA,303892000,I,남아프리카,NaN,갈치(냉동),수입,301397.525,625530

In [20]:
# 재현 가능한 결과를 얻기 위해 초기값을 고정해줍니다.
df.sample(random_state = 1)

,stdYymm,nationCode,mprcExipitmCode,imxprtSeCode,nationNm,ecoblNm,mprcExipitmNm,imxprtSeNm,imxprtWt,imxprtDollarAmount
9486,202404,VU,303550000,E,바누아트,NaN,전갱이(냉동)(트라커러스종),수출,15200.0,19250

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32380 entries, 0 to 32379
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stdYymm             32380 non-null  int64
 1   nationCode          32371 non-null  object
 2   mprcExipitmCode     32380 non-null  int64
 3   imxprtSeCode        32380 non-null  object
 4   nationNm            32380 non-null  object
 5   ecoblNm             27466 non-null  object
 6   mprcExipitmNm       32380 non-null  object
 7   imxprtSeNm          32380 non-null  object
 8   imxprtWt            32380 non-null  float64
 9   imxprtDollarAmount  32380 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 2.5+ MB

In [22]:
df.columns

Index(['stdYymm', 'nationCode', 'mprcExipitmCode', 'imxprtSeCode', 'nationNm',
       'ecoblNm', 'mprcExipitmNm', 'imxprtSeNm', 'imxprtWt',
       'imxprtDollarAmount'],
      dtype='object')

In [23]:
df.columns = ['기준년월', '국가코드', '수산물코드', '수출입코드', '국가명',
              '경제블럭명', '수산물명', '수출입명', '중량', '달러']

In [24]:
df.head()

,기준년월,국가코드,수산물코드,수출입코드,국가명,경제블럭명,수산물명,수출입명,중량,달러
0,202401,AE,106199000,E,아랍에미리트연합,걸프협력회의,기타 포유동물,수출,17.5,455
1,202401,AE,301998000,E,아랍에미리트연합,걸프협력회의,넙치(활어),수출,798.2,19735
2,202401,AE,302240000,E,아랍에미리트연합,걸프협력회의,터벗(신선 또는 냉장)(프세타 맥시마),수출,304.0,11425
3,202401,AE,303510000,E,아랍에미리트연합,걸프협력회의,"청어(클루페아 하렌구스,클루페아 팔라시)",수출,20.0,638
4,202401,AE,303540000,E,아랍에미리트연합,걸프협력회의,"고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)",수출,170.0,1472

In [26]:
# df.drop(columns = ['국가코드', '수산물코드', '수출입코드', '경제블럭명'], inplace = True)
df = df.drop(columns = ['국가코드', '수산물코드', '수출입코드', '경제블럭명'])

In [27]:
df.shape

(32380, 6)

In [28]:
df.dtypes

기준년월      int64
국가명      object
수산물명     object
수출입명     object
중량      float64
달러        int64
dtype: object

In [31]:
df['기준년월'] = df['기준년월'].astype(str)

In [32]:
df.dtypes

기준년월     object
국가명      object
수산물명     object
수출입명     object
중량      float64
달러        int64
dtype: object

In [33]:
df.head()

     기준년월       국가명                                   수산물명 수출입명     중량     달러
0  202401  아랍에미리트연합                                기타 포유동물   수출   17.5    455
1  202401  아랍에미리트연합                                 넙치(활어)   수출  798.2  19735
2  202401  아랍에미리트연합                  터벗(신선 또는 냉장)(프세타 맥시마)   수출  304.0  11425
3  202401  아랍에미리트연합                 청어(클루페아 하렌구스,클루페아 팔라시)   수출   20.0    638
4  202401  아랍에미리트연합  고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)   수출  170.0   1472

In [45]:
df['수산물명'].unique()

array(['기타 포유동물', '넙치(활어)', '터벗(신선 또는 냉장)(프세타 맥시마)',
       '청어(클루페아 하렌구스,클루페아 팔라시)', '고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)',
       '삼치[스콤버로모러스(Scomberomorus)종]', '명태(냉동)(테라그라 찰코그라마)', '복어(냉동)',
       '임연수어(냉동)', '가자미(냉동한 피레트)', '어란(명태/염장,염수장)',
       '멸치[엔그라울리스(Engraulis)종]', '조기(건조/염장불문/훈제제외)',
       '굴치패 기타(산 것 신선 또는 냉장한 것)', '냉동한 것', '기타', '문어', '낙지', '바지락',
       '전복(산 것 신선 또는 냉장한 것)', '냉동한 전복[할리오티스(Haliotis)종]',
       '해파리(염장 또는 염수장한 것)', '미역(건조한 것)(식용의 것)', '톳(냉동한 것)(식용의 것)',
       '다랭이(기름담금)', '버니토우(기타)', '고등어(조제/밀폐용기에 넣은 것)', '꽁치(통조림외조제품)',
       '생선묵(게맛)', '어류조제,저장제품(생선 페이스트,마리네이드,소시지,생선묵)',
       '조미오징어(조제 또는 저장처리)(밀폐용기에 넣은 것)', '오징어 기타(조제 또는 저장처리)',
       '골뱅이(조제 또는 저장처리)(밀폐용기에 넣은 것)', '김', '조제한 해조류 김 제외', '천일염', '식염',
       '기타소금,해수', '가자미(플루로넥테스 플라테사)', '기타넙치류(냉동)',
       '꽁치[콜로라비스 사이라(Cololabis saira)]', '대구(가두스 모르화,가두스 오각,가두스 마크로세팔루스)',
       '아귀(냉동)', '민어(냉동)', '기타어류(냉동)', '명태(냉동한 피레트)(테라그라 찰코그라마)',
       '기타어류의 기타(냉동한 피레트)', '기타 냉동연육 외 기타',
       '틸라피아,메기,잉어,뱀장어,나일퍼치 종의 건조한 것', '기타 어류(건조)', '고등어(염장,염수장)',
       '어류(청어,대구,연어,송어,갈치,정어리,고등어 등 이외)', '그 밖의 새우류', '기타 굴(건조한 것)',
       '갑오징어(훈제한 것)', '쭈꾸미', '수생무척추동물의 기타(냉동 한것)', '김(건조한 것)(식용의 것)',
       '미역(기타)(식용의 것)', '다시마(냉동한 것)(식용의 것)', '다시마(기타)(식용의 것)',
       '다랭이류(다랭이, 가다랭이 이외 기타/조제/밀폐용기에 넣은 것)', '다랭이류(조제/밀폐용기에 넣은 것 이외 기타)',
       '가다랭이(기타)', '멸치(조제/밀폐용기에 넣은 것)', '전갱이(조제/밀폐용기에 넣은 것 이외 기타)',
       '쥐치포(조제/밀페용기 이외 기타)', '어류조제품(연어,청어,고등어,기타/조제/밀폐용기에 넣은 것)', '생선소시지',
       '생선묵(게맛의 것 이외 기타)', '캐비아 대용물', '기타 게살(밀폐용기에 넣은 것, 훈제한 것 이외 기타)',
       '연체동물 기타(조제 또는 저장처리)(밀폐용기에 넣은 것)', '연체동물 기타(조제 또는 저장처리)(기타)',
       '기타조제저장처리수생무척추동물(밀폐용기에넣은것 포함, 밀폐용기에 넣지 않은 것)-해삼,성게,해파리제외',
       '어류의 수우프, 브로드와 수우프 브로드 제조용 조제품', '어란(명태, 조기, 청어이외 기타/염장, 염수장)',
       '어류(연어, 청어, 멸치, 명태이외 기타/훈제/피레트 포함)', '다랑어 기타(냉동한 피레트)',
       '볼락(적어포함/활어)', '미꾸라지(활어)', '기타어류(활어)', '돔(신선 또는 냉장)(스파리대과를 제외한다)',
       '기타(신선 또는 냉장)(삼치,복어,병어,아귀 외 기타)', '뱀장어(냉동)(앵귈라종)',
       '서대(간장, 어란제외/냉동/피레트, 어육제외)', '명란',
       '곱상어, 그 밖의 상어, 가오리와 홍어(라지대과) 냉동 피레트-곱상어, 그 밖의 상어 제외',
       '고등어의것(냉동한 것)', '명태 냉동연육 외 기타', '까나리(건조/염장불문/훈제제외)',
       '실치(건조/염장불문/훈제제외)', '갈치(염장,염수장)', '게살(냉동한 것) 훈제한 것(기타)',
       '꽃게(냉동한 것) 기타', '기타의 새우류의 새우살(냉동한 것)(훈제한 것 외 기타)', '대게', '게(기타)',
       '건조한 것', '홍합(건조)',
       '갑오징어[세피아 오피시날리스(Sepia officinalis)ㆍ로시아 마크로소마(Rossia macrosoma)ㆍ세피올라(Sepiola)종]와 오징어[옴마스트레페스(Ommastrephes)종ㆍ로',
       '낙지(산것/신선, 냉장)', '새조개', '기타[분 조분 펠리트 포함(식용 적합)]의 기타(산,신선,냉장)',
       '해삼(산 것 신선 또는 냉장한 것)', '우렁쉥이(냉동한 것)', '미역(염장한 것)(식용의 것)',
       '미역(냉동한 것)(식용의 것)', '톳(기타)(식용의 것)', '파래(건조한 것)(식용의 것)',
       '다시마(염장한 것)(식용의 것)', '김(기타)', '다시마(기타)', '어류의즙', '다랭이(보일드)',
       '게 조제품(게살 이외 기타)', '새우류(조제 또는 저장처리)(밀폐용기에 넣지 아니한 것)(브레드한 것)',
       '새우류(조제 또는 저장처리)(밀폐용기에 넣지 아니한 것)(기타)', '새우류(조제 또는 저장처리)',
       '갑오징어, 기타조제저장처리갑오징어(밀폐용기에넣은것 포함, 밀폐용기이외)', '바지락(조제 또는 저장처리)(기타)',
       '클램, 새조개 및 피조개 기타(조제 또는 저장처리)(기타)', '스리루리나 효모(기타)',
       '양식진주로 만든 것   ', '전갱이(냉동)(트라커러스종)',
       '기타 넙치류(간장, 어란제외/신선, 냉장/피레트, 어육제외)',
       '청어(신선 또는 냉장)(클루페아 하렌구스,클루페아 팔라시)',
       '고등어(신선 또는 냉장)(스콤버-스콤브루스,오스트랄시쿠스,자포니쿠스))',
       '그 밖의 태평양 연어(옹코링쿠스 고르부스카,옹코링쿠스 케타,옹코링쿠스 차비차,옹코링쿠스 키수츠,옹코링쿠스 마소,옹코링쿠스 로두루스)',
       '넙치[레인하드티우스 히포글러소이데스,히포글러서스 히포글러서스,히포글러서스 스테노레피스)',
       '황다랑어(터너스 알바카레스/냉동)', '가다랑어 또는 줄무늬버니토우(냉동)',
       '민대구(냉동)(메루키우스종 등 2종)', '홍어(냉동)', '농어(신선 또는 냉장)(디센트라르쿠스종)',
       '갈치(냉동)', '붕장어(냉동)', '조기(냉동)', '참다랑어(냉동한 피레트)', '명태 냉동연육',
       '왕게(냉동)', '갑각류 기타(냉동한 것)(훈제한것 외 기타)',
       '옴마스트레페스(Ommastrephes)종ㆍ로리고(Loligo)종ㆍ노토토다루스(Nototodarus)종ㆍ세피오투디스(Sepioteuthis)종',
       '클램, 새조개 및 피조개 기타 살아있는겄, 신선한 것, 냉장한 것', '소라(산 것 신선 또는 냉장한 것)',
       '소라', '소라, 기타연체동물(염장, 염수장)', '산호(coral)', '연체동물,갑각류,극피동물',
       '어류,갑각류,연체동물,수행동', '미역(기타)', '분한천', '상어의 간유(肝油)와 그 분획물', '어류의액스',
       '가리비과의조개(조제,저장/기타, 밀폐용기에 넣은 것 포함)', '홍합(조제 또는 저장처리)(밀폐용기에 넣은 것)',
       '해삼(조제 또는 저장처리)(밀폐용기에 넣은 것)', '해삼(조제 또는 저장처리)기타', '암염(岩鹽)',
       '순염화나트륨', '천연진주로만든 것 ', '황새치(냉동한 피레트)(자이피어스 글래디어스)', '눈다랑어(냉동)',
       '멸치(훈제/피레트포함)', '클로렐라 효모(기타)', '조개껍질로 만든것',
       '넙치(간장, 어란제외/신선, 냉장/피레트, 어육제외)', '이빨고기(냉동)(디소스티쿠스종)',
       '톳(건조한 것)(식용의 것)', '골뱅이(조제 또는 저장처리)(기타)', '패각(기타)',
       '틸라피아[오레오크로미스(Oreochromis)종], 메기[판가시우스(Pangasius)종ㆍ실루러스(Silurus)종ㆍ클라리아스(Clarias)종ㆍ익타루러스(Ictalurus)종], 잉어[사이',
       '어류(대구,상어지느러미,멸치,명태,조기등외기타건조/훈제제외)', '대구(염장,염수장)', '멸치젓(염장,염수장)',
       '멸치(멸치젓 이외 기타/염장, 염수장)', '정어리(염장,염수장)', '상어 지느러미(건조한 것)',
       '게살(밀폐용기에넣은것)', '붉은 대게살(밀폐용기에 넣은 것, 훈제한 것 이외 기타)',
       '굴(조제 또는 저장처리)(기타)', '오징어(조제 또는 저장처리)(밀폐용기에 넣은 것)',
       '문어, 기타조제저장처리문어(밀폐용기에넣은것 포함, 밀폐용기이외)', '전복(조제 또는 저장처리) 기타',
       '클로렐라 효모(둥글넓적한 것)', '어류외기타 분.조분 및 펠리트',
       '가리비과의조개 기타(산것, 신선, 냉장) - 펙텐, 클라미스, 프라코펙텐 속의 것 제외',
       '어류조제품(연어,청어,정어리,고등어 등 밀폐용기에넣은것)', '갑각류,연체동물,수생동물의', '붕장어(활어)',
       '복어(활어)', '기타(신선,냉장)', '전갱이(신선 또는 냉장)(트라커러스종)', '방어(신선 또는 냉장)',
       '붕장어(신선 또는 냉장)', '꽁치(신선 또는 냉장)(학꽁치를 포함한다)', '아귀(신선 또는 냉장)', '간',
       '날개다랑어 또는 긴지느러미다랑어(터너스알라룽가/냉동)', '황새치(자이피어스글래디어스)', '달고기(냉동)',
       '붕장어(신선 또는 냉장한 피레트)', '기타(신선 또는 냉장한 피레트)', '넙치류 기타(냉동한 피레트)',
       '붕장어의 것(냉동한 피레트)', '기타 냉동연육', '닭새우류(팔리누루스종 파누리루스종 자수스종)(냉동한것)(기타)',
       '굴치패 종패용 외 기타(산 것  신선 또는 냉장한 것)', '피조개 기타(산 것  신선 또는 냉장한 것)',
       '개아지살(산 것 신선 또는 냉장한 것)', '성게(산 것 신선 또는 냉장한 것)', '성게(염장 또는 염수장한 것)',
       '우뭇가사리(기타)(식용의 것)', '해초류와 기타조류 기타(기타)(식용의 것)', '해초류와 기타조류 기타(기타)',
       '실한천', '새조개(조제 또는 저장처리)(밀폐용기에 넣은 것)', '어류의 분.조분 및 펠리트',
       '염장이나 염수장한 것', '주꾸미(산것/신선, 냉장)', '기타 대구(신선 또는 냉장)',
       '대서양 연어(신선 또는 냉장)(살모 살라) 및 다뉴브 연어(후코 후코)', '김(기타)(식용의 것)',
       '한천(실한천,분한천 이외 기타)', '연어(조제/밀폐용기에 넣은 것)',
       '기타(연육 외 기타)(기타,신선 또는 냉장한 것)', '정어리(냉동)(사르디나 필차르두스,사르디노프스종)',
       '바닷가재[호마루스(Homarus)종]', '기타문어(산것/신선, 냉장)',
       '연어(조제/밀페용기에 넣은 것 이외 기타)', '진두발(기타)', '경납(동물성 납)', '명태(훈제/피레트포함)',
       '닭새우류(팔리누루스종 파누리루스종 자수스종)(냉동한 것)(훈제한 것)',
       '우렁쉥이(기타)(산 것 신선 또는 냉장한 것)', '소라(조제 또는 저장처리)기타',
       '해파리(조제 또는 저장처리)(밀폐용기에 넣은 것)', '해파리(조제 또는 저장처리)(기타)',
       '고등어(조제/밀폐용기에 넣은 것 이외 기타)', '뱀장어(조제 또는 저장처리)', '넙치류 기타(신선 또는 냉장)',
       '어란(청어/염장,염수장)', '틸라피아(냉동한 피레트)(오레오크로미스종)',
       '틸라피아,메기,잉어,뱀장어,나일퍼치 종의 기타(냉동한 피레트)', '갈치(신선 또는 냉장)',
       '블루 화이팅스(마이크로메시스티우스 포우타소우,마이크로메시스티우스 오스트랄리스)',
       '기타(냉동)(새꼬리민태 외 기타)', '양식진주(가공한것)', '병어[팜푸스(Pampus)종]',
       '곱상어와 기타 상어(냉동)', '문어(산것, 신선, 냉장, 냉동, 건조 이외 기타)',
       '갑각류 조제품(게,새우,바다가재기타/밀폐용기에넣은것이외기타)', '돔(기타, 참돔)', '숭어(활어)',
       '뱀장어(신선 또는 냉장)(앵귈라종)', '가오리와 홍어(라지대과)(신선 또는 냉장)',
       '가오리와 홍어(신선냉장) 피레트', '기타어류의 피레트(건조한것)',
       '클램, 새조개 및 피조개 기타(염장 또는 염수장한 것)', '해삼(염장 또는 염수장한 것)',
       '수생무척추동물의 기타(산 것)', '미역(냉장한 것)(식용의 것)', '파래(기타)(식용의 것)',
       '해초류와 기타조류 기타(냉동)(식용의 것)', '파래(기타)', '생선마리네이드',
       '굴(조제 또는 저장처리)(밀폐용기에 넣은 것)', '새조개(조제 또는 저장처리)(기타)',
       '클램, 새조개 및 피조개 기타(조제 또는 저장처리)(밀폐용기에 넣은 것)', '스리루리나 효모(둥글넓적한 것)',
       '기타(냉동)', '볼낙(냉동)(적어를 포함한다)',
       '가리비과의조개(산것, 신선, 냉장) - 펙텐, 클라미스, 프라코펙텐 속의 것', '가오리(냉동)',
       '민대구(냉동한 피레트)(메루키우스종ㆍ유르피키스종)', '기타(활어)(민물의 것)', '먹장어(활어)',
       '남방참다랑어(터너스맥코이/냉동)',
       '닭새우류[팔리누루스(Palinurus)종ㆍ파누리루스(Panulirus)종ㆍ자수스(Jasus)종]',
       '어류의 지방과 기름 및 그 분획물[간유(肝油)는 제외한다]', '전복(밀폐용기에넣은것)', '어류의웨이스트',
       '캐비아', '기타(활어)(비단잉어 외  민물의 것)', '먹장어(냉동)(대서양 또는 태평양)',
       '태평양 연어(옹코링쿠스- 넬카,고르부스카,케타,차비차,키수츠,마소,로두루스), 대서양 연어(살모 살라), 다뉴브 연어(후코 후코))',
       '바닷가재(호마루스종)(냉동한 것) 훈제한 것(기타)',
       '냉수성 새우류(판달러스종,크란곤 크란곤)의 새우살(냉동한 것)(훈제한 것 외 기타)',
       '냉수성 새우류(판달러스종,크란곤 크란곤)기타(냉동한 것)(훈제한 것)', '바다가재(통조림외)',
       '성게(조제 또는 저장처리)(기타)', '태평양연어(옹코링쿠스-넬카,고르부스카,케타,차비차,키수츠,마소,로드루스)',
       '대서양연어(냉동)(살모 살라)와 다뉴브연어(후코 후코)',
       '태평양 연어(옹코링쿠스- 넬카,고르부스카,케타,차비차,키수츠,마소,,로두루스, 대서양 연어(살모 살라,다뉴브 연어)',
       '홍합(산 것, 신선, 냉장, 냉동, 건조 이외 기타)', '식용어류분', '홍합(조제 또는 저장처리)(기타)',
       '갯지렁이', '뱀장어(앵궐라종)', '잉어(기타)', '돔(기타, 기타)', '농어(기타)', '민어(활어)',
       '대구(신선 또는 냉장)(가두스 모르화,가두스 오각,가두스 마크로세팔루스)',
       '옥돔(냉동)(브랜치오스테거스 자포니커스)', '옥두어(냉동)(브랜치오스테거스 알부스)', '돔(냉동)(기타)',
       '까나리(냉동)',
       '태평양 연어(옹코링쿠스 -넬카,고르부스카,케타,차비차,키수츠,마소,로두루스), 대서양 연어(살모 살라),다뉴브 연어(후코 후코))',
       '쥐치의 것(냉동한 피레트)', '틸라피아,메기,잉어,뱀장어,나일퍼치 종의 냉동연육외 기타',
       '브레그마세로티대과외6종무리에놀레피디대과어류 건조한것 ', '대구(건조/염장불문/훈제제외)',
       '기타 어류의 머리 꼬리', '기타[분ㆍ조분 및 펠리트를 포함(식용에 적합)](냉동한 것)(훈제한 것 외 기타)',
       '가리비과의조개(냉동)', '백합', '피조개 종패용(산 것  신선 또는 냉장한 것)',
       '바지락(산 것 신선 또는 냉장한 것)', '피조개', '개조개', '개아지살',
       '우렁쉥이(종묘)(산 것  신선 또는 냉장한 것)', '첩패각과 지첩패각', '야광패각(소라)', '기타패각',
       '부화용알(브라인슈림프알)', '동물성의해면', '어류의간유,분획물(상어의간유', '정어리(밀폐용기에넣은것)',
       '달팽이(조제 또는 저장처리)(밀폐용기에 넣은 것)', '달팽이(조제 또는 저장처리)(기타)',
       '양식진주(가공하지않은것)', '흰다리새우{리토페나에수스바나메이)', '대서양 참다랑어(터너스 터너스)',
       '태평양 참다랑어(신선 또는 냉장)(터너스 오리엔탈리스)', '농어(냉동)(디센트라르쿠스종)',
       '대서양 참다랑어(냉동)(터너스 티너스)', '참다랑어(신선 또는 냉장한 피레트)',
       '세피아 오피시날리스(Sepia officinalis)ㆍ로시아 마크로소마(Rossia macrosoma)ㆍ세피올라(Sepiola)종',
       '기타 가리비과의조개(기타)', '새조개(훈제한 것)(기타)',
       '실뱀장어(한마리당 0.3그램 이하인 것으로서 양식용으로 한정)', '비단잉어(활어)(민물의 것)',
       '밀크피쉬(냉동)', '상어 지느러미(염장 또는 염수장한것)',
       '기타[식용에 적합한 것으로서 고운 가루ㆍ거친 가루와 펠릿(pellet)을 포함한다]',
       '살아있거나, 신선하거나 냉장한 수정고둥류[스트롬버스(Strombus)종]',
       '코토니 및 스피노잠(기타)(식용의 것)', '전갱이(밀폐용기에넣은것)', '부화용알(브라인슈림프 알 이',
       '어란(魚卵)ㆍ어백(魚白)', '방어(활어)', '명태(신선 또는 냉장)(테라그라 찰코그라마)',
       '돔(신선 또는 냉장)(스파리대과)', '틸라피아(냉동)(오레오크로미스종)',
       '메기(냉동)(판가시우스종,실루러스종,클라리아스종,익타루러스종)',
       '잉어(사이프리너스 카르피오,카라시우스 카라시우스,크테노파린고돈 이델루스,하이포프탈미크티스종ㆍ시리누스종ㆍ마일로파린고돈 피세우스)',
       '복어(건조/염장불문/훈제제외)', '훈제한 것',
       '송어(살모 트루타,옹코링쿠스-미키스, 클라키,아구아보니타,길래,아파케, 크리소가스터)',
       '기타[분 조분 펠리트를 포함(식용에 적합한)]의 기타(건조)', '해삼(건조한 것)',
       '새끼뱀장어(한 마리당0.3그램을 초과하고50그램이하인것으로양식용으로한정)',
       '브레그마세로티대과외6종무리에놀레피디대과어류의(냉동한피레트) ', '대구(가두스모르화), 대구 이외',
       '홍합(산것/신선,냉장)', '가자미(연육, 기타)(신선, 냉장)',
       '브레그마세로티대과외6종무리에놀레피디대과어류(냉동연옥)', '게(건조, 염상,염수장, 훈제, 기타)-게살포함',
       '기타해서포유동물의 유지와 그', '버니토우(기름담근것(밀폐용기', '생선페이스트',
       '바지락(조제 또는 저장처리)(밀폐용기에 넣은 것)', '소크아이 연어(홍연어,옹코링쿠스 넬카)', '은대구(냉동)',
       '기타 굴(염장 또는 염수장', '붕어(활어) 카라시우스속',
       '틸라피아,메기,잉어,뱀장어,나일퍼치 종의 기타(기타,신선 또는 냉장한 것)', '게살(냉동한것)훈제', '꽃게',
       '청패각(전복)', '메기(냉동한 피레트)(판가시우스종,실루러스종,클라리아스종,익타루러스종)',
       '소라(밀폐용기에 넣은것)', '눈다랑어(터너스오베서스/신선,냉장)', '청어(염장,염수장)',
       '냉수성(冷水性) 새우류[판달러스(Pandalus)종ㆍ크란곤 크란곤(Crangon crangon)]',
       '보리멸(냉동)', '틸라피아,메기,잉어,뱀장어,나일퍼치 종의 연육(기타,신선 또는 냉장한 것)',
       '기타 연육(기타,신선 또는 냉장한 것)', '기타[분 조분 펠리트를 포함(식용에 적합한)]의 기타(훈제한 것)',
       '청어(통조림외조제품)', '송어(신선,냉장)', '진두발(기타)(식용의 것)', '바지락(염장 또는 염수장한 것)',
       '재첩(산 것 신선 또는 냉장한 것)', '뱀장어(조제 또는 저장처리)(밀폐용기에 넣은 것)',
       '청어(밀폐용기에넣은것)', '말(기타)(식용의 것)', '터벗(냉동)(프세타 맥시마)',
       '노르웨이 바닷가재(네프로프스 노르베지쿠스)(냉동한 것)(기타)', '송어(활어)',
       '기타어류의 피레트(염장 또는 염수장한 것)', '말(냉동)(식용의 것)', '김(냉동한 것)', '미역(냉동한 것)',
       '상어지느러미, 기타조제저장처리상어지느러미(밀폐용기에넣은것 포함, 밀폐용기이외)', '어란(건조)', '문어(건조)',
       '기타갑각류(밀폐용기에넣은것)', '송어(살모 트루타,옹코링쿠스-미키스,클라키,아구아보니타,길래,아파케,크리소가스터)',
       '노르웨이 바닷가재[네프로프스 노르베지쿠스(Nephrops norvegicus)]',
       '해파리(산 것 신선 또는 냉장한 것)', '홍살치(냉동)', '골뱅이 (훈제한 것)(밀폐용기에 넣은 것)',
       '정어리(통조림외조제품)', '틸라피아,메기,잉어,뱀장어,나일퍼치 종의 훈제한 것',
       '연어(송어, 대서양연어 등 이외 기타/냉동/피레트, 어육제외)', '이빨고기(기타/냉동)',
       '상어 지느러미(훈제한 것)', '바닷가재(호마루스종)', '달팽이',
       '고래 돌고래류(고래목의 포유동물), 바다소(바다소목의 포유동물)', '민대구(메루키우스종,유르피키스종)',
       '브레그마세로티대과외6종무리에놀레피디대과어류(냉동연옥) 기타 ',
       '기타(신선 또는 냉장)(틸라피아,메기,잉어,뱀장어 외 기타)', '태평양 참다랑어(냉동)(터너스 오리엔탈리스)',
       '꽁치(냉동)(학꽁치를 포함한다)', '해파리(냉동한 것)', '황새치(기타/냉동)',
       '냉동한 수정고둥류[스트롬버스(Strombus)종]', '김(냉장한 것)(식용의 것)',
       '파래(냉장한 것)(식용의 것)', '가자미(간장, 어란제외/신선, 냉장/피레트,어육제외)',
       '민대구(신선 또는 냉장)(메루키우스종ㆍ유르피키스종)', '어란(조기/염장,염수장)',
       '갯장어(건조/염장불문/훈제제외)', '클램, 새조개 및 피조개 기타(건조)', '진주양식용핵',
       '이빨고기(냉동한 피레트)(디소스티쿠스종)', '도박(기타)', '개아지살(건조)',
       '닭새우(기타) [팔리누루스속ㆍ파누리루스속ㆍ자수스속]', '송어(염장,염수장)',
       '틸라피아(냉동한 피레트)(오레오크로미스종은 제외한다)의 것', '연어(기타)', '능성어(활어)',
       '우렁쉥이, 기타수생무척추동물(건조)-해삼,성게,해파리 제외', '연어(염장, 염수장)',
       '갯장어(sharp toothed eel/활어)', '성게(조제 또는 저장처리)(밀폐용기에 넣은 것)',
       '검정대구(냉동)(폴라치우스 비렌스)', '해파리(건조한 것)', '서대 솔레아종(신선,냉장)',
       '바다가재(밀폐용기에넣은것)', '진주패각', '다시마(냉동한 것)',
       '수생무척추동물의 기타(염장 또는 염수장한 것)', '실지렁이', '가오리와 홍어(연육, 기타)(냉동)',
       '어류간장(건조,훈제,염장)', '송어(훈제한 어류)', '새꼬리민태(냉동)',
       '멸치(신선 또는 냉장)(엔그라울리스종)', '원피(장어류의 것)(비유연처리의 것)',
       '새조개(산 것,신선 또는 냉장한 것)', '청어(냉동한 피레트)(클루페아 하렌구스 /클루페아팔라시)',
       '기타 육·설육', '가자미(신선 또는 냉장한 피레트)', '코토니 및 스피노잠(냉동)(식용의 것)',
       '브레그마세로티대과외6종무리에놀레피디대과어류(염장 또는 염수장한것)', '남방참다랑어(터너스 맥코이/신선,냉장)',
       '진주조개(기타)(산 것 신선 또는 냉장한 것)', '가다랑어 또는 줄무늬버니토우(신선,냉장)',
       '톳(냉장한 것)(식용의 것)', '기타의 새우류의 새우살(냉동한 것)(훈제한 것)', '복어(신선 또는 냉장)',
       '불등가사리(기타)(식용의 것)', '뜬세모가사리(기타)', '꽁치(학꽁치 포함/염장, 염수장)',
       '파래(냉동한 것)', '틸라피아,메기,잉어,뱀장어,나일퍼치 종의 염장.염수장한 것',
       '가오리와 홍어(기타)(신선냉장)', '개량조개(건조)', '골뱅이 (훈제한 것)(밀폐용기에 넣지 아니한 것)',
       '메기(신선 또는 냉장한 피레트)(판가시우스종,실루러스종,클라리아스종,익타루러스종)', '기타 굴(훈제한 것)',
       '꽃게(냉동한 것) 훈제한 것', '황새치(연육, 기타)', '조기(염장,염수장)',
       '메기(신선 또는 냉장)(판가시우스종,실루러스종,클라리아스종,익타루러스종)', '개량조개'], dtype=object)

In [46]:
df['수산물명'].nunique()

492

In [51]:
df['수산물명'].value_counts().sort_index().to_excel('MPRC_List.xlsx')

In [52]:
df['수산물명'].head()

0                                  기타 포유동물
1                                   넙치(활어)
2                    터벗(신선 또는 냉장)(프세타 맥시마)
3                   청어(클루페아 하렌구스,클루페아 팔라시)
4    고등어(스콤버 스콤브루스,스콤버 오스트랄라시쿠스,스콤버 자포니쿠스)
Name: 수산물명, dtype: object

In [59]:
# str accessor(접근자): 시리즈 원소에 대해 문자열을 처리하는 특별한 객체
# 문자열을 처리하는 다양한 함수를 가지고 있음(모듈)
# raw-string은 문자열 안에 있는 모든 이스케이프의 기능을 해제합니다.
df['수산물명'] = df['수산물명'].str.replace(pat = r'(\(|\[|\{).+', repl = '', regex = True)

In [60]:
df['수산물명'].value_counts().sort_index().to_excel('MPRC_List_2.xlsx')

In [61]:
cond = (df['국가명'] == '일본')
cond

0        False
1        False
2        False
3        False
4        False
         ...
32375    False
32376    False
32377    False
32378    False
32379    False
Name: 국가명, Length: 32380, dtype: bool

In [62]:
cond.sum()

np.int64(2630)

In [63]:
# 불리언 인덱싱: 조건에 맞는 행 또는 열만 선택하기
jpn = df.loc[cond, :]

In [64]:
jpn.shape

(2630, 6)

In [65]:
jpn.head()

       기준년월 국가명    수산물명 수출입명         중량       달러
466  202401  일본      게살   수입       4.78      291
471  202401  일본  붉은 대게살   수출  171281.40  1942836
486  202401  일본   게 조제품   수출   20453.50    95247
487  202401  일본   게 조제품   수입       0.90       62
491  202401  일본     고등어   수출   14861.60    96138

In [67]:
jpn['달러'].sum()

np.int64(876403715)

In [68]:
jpn.loc[jpn['수출입명'] == '수출', '달러'].sum()

np.int64(667886640)

In [69]:
jpn.loc[jpn['수출입명'] == '수입', '달러'].sum()

np.int64(208517075)

In [70]:
jpn.groupby(by = '수출입명')['달러'].sum()

수출입명
수입    208517075
수출    667886640
Name: 달러, dtype: int64

In [72]:
jpn.groupby(by = '수산물명')['달러'].sum().sort_values()

수산물명
고등어의것                                       8
암염                                         62
기타 육·설육                                    76
틸라피아,메기,잉어,뱀장어,나일퍼치 종의 염장.염수장한 것           90
상어지느러미, 기타조제저장처리상어지느러미                     95
                                      ...
돔                                    36746910
전복                                   38059950
방어                                   77102331
다랑어 기타                               92801196
김                                   206891664
Name: 달러, Length: 181, dtype: int64

In [73]:
jpn.loc[jpn['수출입명'] == '수출', :].groupby(by = '수산물명')['달러'].sum().sort_values()

수산물명
산호                            0
연어                            3
양식진주                          7
고등어의것                         8
어류의 지방과 기름 및 그 분획물           21
                        ...
미역                     25107759
붕장어                    32329825
전복                     38059950
다랑어 기타                 92064577
김                     206325896
Name: 달러, Length: 144, dtype: int64

In [74]:
jpn.loc[jpn['수출입명'] == '수입', :].groupby(by = '수산물명')['달러'].sum().sort_values()

수산물명
건조한 것                3
기타어류의 피레트           19
바지락                 21
명란                  23
명태 냉동연육             25
                ...
가리비과의조개        7557333
기타어류           8707267
가리비과의조개 기타    30841036
돔             36711223
방어            76845874
Name: 달러, Length: 138, dtype: int64

In [75]:
jpn.groupby(by = ['수출입명', '수산물명'])['달러'].sum().sort_values()

수출입명  수산물명
수출    산호                0
      연어                3
수입    건조한 것             3
수출    양식진주              7
      고등어의것             8
                  ...
수입    돔          36711223
수출    전복         38059950
수입    방어         76845874
수출    다랑어 기타     92064577
      김         206325896
Name: 달러, Length: 282, dtype: int64

In [78]:
pvt = pd.pivot_table(data = jpn, index = '수산물명', columns = '수출입명', 
                     values = '달러', aggfunc = 'sum', fill_value = 0)

In [80]:
pvt.head()

수출입명                   수입      수출
수산물명
가다랑어 또는 줄무늬버니토우      3365   75058
가다랭이                13397  893886
가리비과의조개           7557333    9839
가리비과의조개 기타       30841036       0
가오리                  2791       0

In [79]:
pvt.columns

Index(['수입', '수출'], dtype='object', name='수출입명')

In [81]:
pvt.index

Index(['가다랑어 또는 줄무늬버니토우', '가다랭이', '가리비과의조개', '가리비과의조개 기타', '가오리', '가오리와 홍어',
       '가자미', '간', '갈치', '갑각류 기타',
       ...
       '피조개 기타', '한천', '해삼', '해초류와 기타조류 기타', '해파리', '홍살치', '홍어', '홍합', '황다랑어',
       '황새치'],
      dtype='object', name='수산물명', length=181)

In [83]:
pvt = pvt.reset_index()

In [85]:
pvt.columns.name = None

In [86]:
pvt.head()

              수산물명        수입      수출
0  가다랑어 또는 줄무늬버니토우      3365   75058
1             가다랭이     13397  893886
2          가리비과의조개   7557333    9839
3       가리비과의조개 기타  30841036       0
4              가오리      2791       0

In [88]:
pvt['무역수지'] = pvt['수출'] - pvt['수입']

In [89]:
pvt.head()

              수산물명        수입      수출      무역수지
0  가다랑어 또는 줄무늬버니토우      3365   75058     71693
1             가다랭이     13397  893886    880489
2          가리비과의조개   7557333    9839  -7547494
3       가리비과의조개 기타  30841036       0 -30841036
4              가오리      2791       0     -2791

In [91]:
pvt.sort_values(by = '무역수지', ascending = False)

           수산물명        수입         수출       무역수지
47            김    565768  206325896  205760128
61       다랑어 기타    736619   92064577   91327958
146          전복         0   38059950   38059950
93          붕장어         0   32329825   32329825
80           미역     67548   25107759   25040211
..          ...       ...        ...        ...
40         기타어류   8707267    3925905   -4781362
2       가리비과의조개   7557333       9839   -7547494
3    가리비과의조개 기타  30841036          0  -30841036
69            돔  36711223      35687  -36675536
83           방어  76845874     256457  -76589417

[181 rows x 4 columns]

In [92]:
def mprcItemIndex(nation):
    cond = (df['국가명'] == nation)
    nat = df.loc[cond, :]
    pvt = pd.pivot_table(data = nat, index = '수산물명', columns = '수출입명', 
                         values = '달러', aggfunc = 'sum', fill_value = 0)
    pvt = pvt.reset_index()
    pvt.columns.name = None
    pvt['무역수지'] = pvt['수출'] - pvt['수입']
    pvt = pvt.sort_values(by = '무역수지', ascending = False)
    return pvt

In [93]:
mprcItemIndex(nation = '일본')

           수산물명        수입         수출       무역수지
47            김    565768  206325896  205760128
61       다랑어 기타    736619   92064577   91327958
146          전복         0   38059950   38059950
93          붕장어         0   32329825   32329825
80           미역     67548   25107759   25040211
..          ...       ...        ...        ...
40         기타어류   8707267    3925905   -4781362
2       가리비과의조개   7557333       9839   -7547494
3    가리비과의조개 기타  30841036          0  -30841036
69            돔  36711223      35687  -36675536
83           방어  76845874     256457  -76589417

[181 rows x 4 columns]

In [ ]:
# 인덱스에 '국가명', 컬럼스에 '수출입명'으로 설정하고 '달러' 합계를 피벗 테이블로 생성
# '수출'에서 '수입'을 뺀 '무역수지'를 추가하고 내림차순 정렬